.App {

}

.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task-done {
  opacity: 0.4;
}
.todoList-task​{
  background-color: red;
}

.error {
   border-color: red;
 }
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.filter-active{
  background-color:gold;
}